body {
  background: black;
  color: white;
  background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)),
    /* bottom, image */ url("./water.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* 
.winter {
  background-color: skyblue;
  color: white;
  font-weight: 20px;
}

.spring {
  background: palegreen;
  color: lightpink;
  font-weight: 30px;
}

.summer {
  background: orangered;
  color: orange;
  font-family: serif;
  font-size: 40px;
}
.fall {
  color: orange;
  background: black;
  font-family: sans-serif;
  font-size: 50px;
} */
section {
  margin-top: 50px;
}

div {
  text-align: center;
  background-color: white;
  color: #333;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}
p {
  text-transform: uppercase;
  padding: 20px;
}
a {
  color: red;
  margin-top: 50px;
  padding: 0 10px;
}
